/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cardBody {
    width: 100%;
  }

  .container-fluid {
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media only screen and (min-width: 601px) {
  .cardBody {
    width: 200px;
  }

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

body {

  background-image: url('/src/Assets/bg.jpg');
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;




  /* fallback for old browsers */
  /* background: #30cfd0; */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(to bottom, rgba(48, 207, 208, 1), rgba(51, 8, 103, 1)); */

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(to bottom, rgba(48, 207, 208, 1), rgba(51, 8, 103, 1)) */
  /* background-color: rgb(169, 185, 124); */

  /* background: linear-gradient(rgb(61, 10, 245), #9ea0be); */
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 2000px;
  }

  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 2000px;
  }

  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }

}

.App-header {
  font-weight: bold;
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.conditions {
  color: rgb(185, 8, 176);
}

.cardBody {
  border-radius: 18px;
  /* font-weight: bold; 
  font-size: medium;*/
  color: #1b1c1f;
  width: 200px;
  padding: 5px;
  /* margin-right: 35px; */
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #f3e0e0a1;
  /* min-height: 100px; */
  /* box-shadow: 3px 3px rgb(201, 118, 118), -1em 0 0.4em rgb(136, 224, 158); */
}

.cardBody:hover {
  background-color: #e0d2ce;
  /* box-shadow: 3px 3px red, -1em 0 0.4em rgb(136, 224, 158); */
  transform: translateY(-7px);
}

.cardSubtitle {
  font-weight: bold;
  font-size: medium;
  color: #04164b;
  text-align: center;
}

.button {
  width: 100%;
  /* height: 45px; */
  /* font-family: "Roboto", sans-serif; */
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  /* color: #000; */
  /* background-color: #fff; */
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.buttonSubmit {
  width: 100%;
  /* height: 60px; */
  /* font-family: "Roboto", sans-serif; */
  font-size: 15px;
  /* text-transform: uppercase; */
  letter-spacing: 2.5px;
  font-weight: 500;
  /* color: #000; */
  background-color: rgb(163, 190, 171);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(240, 15, 15, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  padding: 10px;
  /* margin: 5px; */
}

.buttonSubmit:hover {
  background-color: #2e50e5;
  box-shadow: 0px 15px 20px rgba(18, 39, 97, 0.4);
  color: #fff;
  transform: translateY(7px);
}

.list-group-item {
  font-weight: bold;
  /* font-size: 20px; */
  letter-spacing: 2.5px;
  color: #10330c;
  background-color: transparent;
  /* border: none; */
  /* border-radius: 45px; */
  padding: 2;
  margin: 2;
}

.list-group-item:hover {
  /* background-color: #2e50e5; */
  /* box-shadow: 0px 15px 20px rgba(18, 39, 97, 0.4); */
  color: #fff;
  /* transform: translateY(7px); */
}

.cardBodyWinLose {
  border-radius: 18px;
  font-weight: bold;
  font-size: medium;
  color: #1b1c1f;
  width: 250px;
  padding: 10px;
  /* margin-right: 35px; */
  margin-top: 15px;
  background-color: #f3e0e0a1;
  min-height: 100px;
  /* box-shadow: 3px 3px rgb(197, 196, 146), -1em 0 0.4em rgb(136, 224, 158);*/
}